<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>album information</title>
    <link rel="stylesheet" href="albuminfo.css" />
    <script src="scripts/albuminfo.js"></script>
  </head>
  <body>
    <header>
      <ul id="navbar">
        <li style="font-weight: bold; padding: 0px 15px">
          <a href="#vivace">Vivace</a>
        </li>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#artists">Artists</a></li>
        <li><a href="#genres">Genres</a></li>
        <li style="float: right">
          <a href="#profile">Profile</a>
        </li>
      </ul>
    </header>
    <div id="middle">
      <div id="left">
        <div id="top">
          <div id="names">
            <h1 id="albumname">ALBUM NAME</h1>
            <h2 id="artistname">ARTIST NAME</h2>
          </div>
          <img
            id="follow"
            src="images/starWhite.svg"
            alt="follow"
            onmouseover="hover(this);"
            onmouseout="unhover(this);"
            onclick="change(this);"
          />
        </div>
        <div id="about">ABOUT THE ALBUM GOES HERE YAPPA YAPPA YAPPA</div>
        <div id="bottombit">
          <div id="tracklist">
            <ul>
              <li>TRACK 1</li>
              <li>TRACK 2</li>
              <li>TRACK 3</li>
              <li>TRACK 4</li>
              <li>TRACK 5</li>
              <li>TRACK 6</li>
              <li>TRACK 7</li>
              <li>TRACK 8</li>
              <li>TRACK 9</li>
              <li>TRACK 10</li>
              <li>TRACK 11</li>
              <li>TRACK 12</li>
              <li>TRACK 13</li>
              <li>TRACK 14</li>
              <li>TRACK 15</li>
            </ul>
            <ul>
              <li>TRACK 16</li>
              <li>TRACK 17</li>
              <li>TRACK 18</li>
              <li>TRACK 19</li>
              <li>TRACK 20</li>
              <li>TRACK 21</li>
              <li>TRACK 22</li>
              <li>TRACK 23</li>
              <li>TRACK 24</li>
              <li>TRACK 25</li>
              <li>TRACK 26</li>
              <li>TRACK 27</li>
              <li>TRACK 28</li>
              <li>TRACK 29</li>
              <li>TRACK 30</li>
            </ul>
            <!-- <ul>
              <li>TRACK 31</li>
              <li>TRACK 32</li>
              <li>TRACK 33</li>
              <li>TRACK 34</li>
              <li>TRACK 35</li>
              <li>TRACK 36</li>
              <li>TRACK 37</li>
              <li>TRACK 38</li>
              <li>TRACK 39</li>
              <li>TRACK 40</li>
            </ul> -->
          </div>
          <div id="nomsnwins">
            <table id="nomwintable">
              <tr>
                <th>AWARD SHOW</th>
                <th>CATEGORY</th>
                <th>WON?</th>
              </tr>
              <tr>
                <td>AWARD SHOW</td>
                <td>CATEGORY</td>
                <td>WON?</td>
              </tr>
              <tr>
                <td>AWARD SHOW</td>
                <td>CATEGORY</td>
                <td>WON?</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="photo">
          <img id="photoImage" src="images/placeholder.png" />
          <p id="altUnder">caption goes here</p>
        </div>
        <div id="basicstats">basicstats</div>
      </div>
    </div>
  </body>
</html>
