@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    display: block;
    background-color: #555;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
    transition: all 0.3s ease 0s
}

#middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin-top: 55px;
    height: 75vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    
}

#left {
    border-right: 2px solid blue;
    width: 85%;
    overflow: scroll;
    cursor: default;
}

#top {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    border-bottom: 2px solid red;
    align-items: center;
    justify-content: space-between;
}

#names {
    display: block;
    padding: 0px;
}

#albumname {
    padding: 10px 10px 0px;
    margin: 0px;
}

#artistname {
    padding: 0px 10px 10px;
    margin: 0px;
}

#follow {
    height: 70px;
    margin-right: 1vw;
    cursor: pointer;
}

#right {
    width: 15%;
    padding: 15px;
    overflow: scroll;
}

#photoImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#altUnder {
    font-weight: bold;
}

#about {
    border-bottom: 2px solid green;
    height: 10vh;
    padding: 15px;
    overflow: scroll;
}

#bottombit {
    height: 100%;
    border: solid rgb(255, 0, 166) 2px;
}

#tracklist {
    border-right: solid black 2px;
    height: 50vh;
    width: 40vw;
}