@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    display: block;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
    transition: all 0.3s ease 0s
}

#top {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

#pfp {
    border-radius: 50%;
    height: 70px;
    margin-left: 1vh;
}

#artistname {
    border: 1px solid black;
    margin-left: 1vh;
    width: 70vw;
}

#follow {
    height: 70px;
}

#middle {
    display: flex;
    flex-direction: row;
    border: 2px solid black
}

#left {
    border: 2px solid blue;
    width: 200px;
}

#right {
    border: 2px solid red;
}

#about {
    border: 2px solid green;
}