@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    display: block;
    background-color: #555;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
    transition: all 0.3s ease 0s
}

#top {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

#pfp {
    border-radius: 50%;
    height: 70px;
    margin-left: 1vw;
}

#artistname {
    margin-left: 1vw;
    width: 70vw;
    cursor: default;
}

#follow {
    height: 70px;
    margin-right: 1vw;
    cursor: pointer;
}

#middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin-top: 5px;
    height: 75vh;
    width: 100%;
    background-color: #fff;
}

#left {
    border-right: 2px solid blue;
    width: 15%;
    overflow: scroll;
    cursor: default;
}

#left li:hover {
    color: #777;
    transition: all 0.3 ease 0;
    cursor: pointer;
}

#right {
    width: 15%;
    padding: 15px;
    overflow: scroll;
}

#photoImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#altUnder {
    font-weight: bold;
}

#about {
    border-right: 2px solid green;
    width: 70%;
    padding: 15px;
    overflow: scroll;
}