<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="artistprofile.css" />
    <title>artist profile</title>
  </head>
  <body>
    <header>
      <ul id="navbar">
        <li style="font-weight: bold; padding: 0px 15px">
          <a href="#vivace">Vivace</a>
        </li>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#artists">Artists</a></li>
        <li><a href="#genres">Genres</a></li>
        <li style="float: right">
          <a href="#profile">Profile</a>
        </li>
      </ul>
    </header>
    <!-- <div id="pagesummary">
      <h3><a href="#a">placeholder</a></h3>
      <h3><a href="#b">placeholder</a></h3>
      <h3><a href="#c">placeholder</a></h3>
    </div> -->
    <!-- <div id="pagelinks">
      <a href="#1">apple music</a>
      <a href="#2">spotify</a>
      <a href="#3">youtube music</a>
      <a href="#4">amazon music</a>
    </div> -->
    <div id="top">
      <img id="pfp" src="images/uhh.jpeg" alt="pfp" />
      <h1 id="artistname">PLACEHOLDER</h1>
      <img id="follow" src="images/star.jpeg" alt="follow" />
    </div>
  </body>
</html>
