<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="artistprofile.css" />
    <title>artist profile</title>
  </head>
  <body>
    <header>
      <ul id="navbar">
        <li style="font-weight: bold; padding: 0px 15px">
          <a href="#vivace">Vivace</a>
        </li>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#artists">Artists</a></li>
        <li><a href="#genres">Genres</a></li>
        <li style="float: right">
          <a href="#profile">Profile</a>
        </li>
      </ul>
    </header>
    <div id="top">
      <img id="pfp" src="images/uhh.jpeg" alt="pfp" />
      <h1 id="artistname">PLACEHOLDER</h1>
      <img id="follow" src="images/star.jpeg" alt="follow" />
    </div>
    <div id="middle">
      <div id="left">
        <ul id="pagesummary">
          <li><p>pagesummary</p></li>
        </ul>
        <ul id="artistlinks">
          <li><p>link 1</p></li>
          <li><p>link 2</p></li>
          <li><p>link 3</p></li>
          <li><p>link 4</p></li>
        </ul>
      </div>
      <div id="about">about</div>
      <div id="right">
        <div id="photo">photo</div>
        <div id="basicstats">basicstats</div>
      </div>
    </div>
  </body>
</html>
